body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    /*overflow: hidden;*/
}

header {
    position: absolute;
    width: 100%;
    z-index: 10;
}

/* css reset from sakura.css
 */
textarea, select, input[type] {
  color: #4a4a4a;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  margin-bottom: 10px;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

textarea:focus, select:focus, input[type]:focus {
    border: 1px solid #2c8898;
    outline: 0;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: #2c8898;
  color: #f9f9f9;
  border-radius: 1px;
  border: 1px solid #2c8898;
  cursor: pointer;
  box-sizing: border-box;
}

.button[disabled], button[disabled], input[type="submit"][disabled], input[type="reset"][disabled], input[type="button"][disabled] {
    cursor: default;
    opacity: .5;
}

.button:focus, .button:hover, button:focus, button:hover, input[type="submit"]:focus, input[type="submit"]:hover, input[type="reset"]:focus, input[type="reset"]:hover, input[type="button"]:focus, input[type="button"]:hover {
    background-color: #982c61;
    border-color: #982c61;
    color: #f9f9f9;
    outline: 0;
}

/* end from sakura.css */

input {
    font-size: 1em;
}

.email {
    width: 20rem;
}

#top-header {
    /*background: url('https://source.unsplash.com/KGDiNZg3Kxo');*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
}

#about {
    /*background-color: #ffc000;*/
    background-color: #264348;
}

#portfolio {
    background-color: #6C7A89;
    /*background-color: #4a4c88;*/
}

#contact {
    background-color: #34495e;
    /*background-color: #4a4c88;*/
}

.menu-wrapper {
    position: fixed;
    width: 100%;
    height: 70px;
    padding-left: 20px;
}

.menu-wrapper input {
    visibility: hidden;
    left: 10px;
}

/*.menu-wrapper #logo {
    color: white;
    float: right;
    top: 35%;
    right: 35px;
    display: block;
    position: absolute;
    text-transform: uppercase;
    font-size: 1.2em;
}*/

.nav-btn {
    position: absolute;
    width: 30px;
    height: 44px;
    top: 20%;
    left: 25px;
    cursor: pointer;
    display: block;
    z-index: 10;
}

.nav-btn span, .nav-btn span:after {
    position: absolute;
    background-color: #fff;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
    height: 2px;
}

.nav-btn span {
    width: 30px;
    top: 50%;
    margin-top: -4px;
}

.nav-btn span:after {
    content: '';
    width: 19px;
    top: 8px;
}

.nav-btn:hover span {
    background-color: rgba(230, 230, 230, 0.7);
}

.nav-btn:hover span:after {
    background-color: rgba(230, 230, 230, 0.7);
    width: 30px;
}

input:checked + .nav-btn span {
    transform: rotate(135deg);
}

input:checked + .nav-btn span:after {
    width: 30px;
    transform: rotate(90deg) translateX(-8px);
}

.menu-wrapper ul {
    margin: 0 10px;
    padding: 0;
    position: absolute;
    display: inline-block;
    list-style: none;
    top: 35%;
    width: 100%;
    opacity: 0;
}

.menu-wrapper ul li {
    display: inline-block;
    padding-left: 30px;
    opacity: 0;
    text-transform: uppercase;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
    font-size: 14px;
    text-align: left;
}

.menu-wrapper ul li a {
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 2px;
    font-weight: bold;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
    pointer-events: none;
    cursor: default;
}

.menu-wrapper ul li a:hover {
    color: rgba(230, 230, 230, 0.7);
}

@media screen and (max-width: 736px) {
    .menu-wrapper ul {
        position: absolute;
        border-radius: 4px;
        margin: 0;
        top: 0;
        left: 0;
        background-color: rgba(2,2,2,.7);
        transform: scale(0);
        padding: 60px 0 10px 0;
        -webkit-transition: all .7s;
        -moz-transition: all .7s;
        -o-transition: all .7s;
        transition: all .7s;
        transform-origin: 0 0;
    }

    .menu-wrapper ul li {
        display: block;
        padding: 10px 5px;
    }

    .menu-wrapper ul li a {
        font-weight: 400;
    }

    /*.menu-wrapper #logo {
        visibility: hidden;
    }*/

    #thank-you {
        background-attachment: scroll;
        position: absolute;
    }
}

input:checked + .nav-btn + ul {
    opacity: 1;
    transform: scale(1);
}

input:checked + .nav-btn + ul li {
    transform: translateX(15px);
    opacity: 1;
}

input:checked + .nav-btn + ul li a {
    pointer-events: all;
    cursor: pointer;
}

section {
    /*height: 500px;*/
    height: 100vh;
    width: 100%;
    display: block;
    position: relative;
    font-family: 'Alegreya Sans', sans-serif;
}

section .title {
    margin-bottom: 15px;
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 3px;
}

.content {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-weight: 300;
    width: 65%;
    font-size: 20px;
    opacity: .9;
    line-height: 27px;
}

.content a {
    text-decoration: underline;
    color: white;
    font-weight: 400;
    transition: .3s;
}

.content a:hover {
    /*text-decoration: underline;*/
    color: rgba(230, 230, 230, 0.7);
}

.content .contact-btn a {
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
    width: 200px;
    position: relative;
    padding: 1em 3em;
    border: 2px solid rgba(230, 230, 230, 0.7);
    text-align: center;    
}

.content .contact-btn a:hover {
    background-color: white;
    color: #264348;
}

@media screen and (max-width: 736px) {
    .content {
        width: 95%;
        font-size: 3.3vh;
        line-height: 4vh;
    }

    .content .contact-btn a {
        display: none;
    }
}

#particles-js {
  width: 100%;
  height: 100vh;
  position: fixed;
  /*background-color: #888;*/
  background-color: #044F67;
  /*background: url('https://source.unsplash.com/Q1p7bh3SHj8');*/
  /*background: url('https://source.unsplash.com/rTZW4f02zY8');*/
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 0;
  color: white;
}

section .my-content {
    /*padding: 0;
    margin: 0;*/
    z-index: 0;
    position: fixed;
    top: 20%;
    text-align: center;
    color: white;
    font-family: 'Raleway';
    width: 100%;
}

section .my-content h1 {
    font-size: 10vh;
    font-weight: 200;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

section .my-content h2 {
    font-weight: 400;
    letter-spacing: 3px;
    /*padding: 0;
    margin: 0;*/
}

#social-icons {
    float: left;
    display: block;
    margin-top: 30px;
    padding: 0;
    position: relative;
    top: 52%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#social-icons li {
    width: 41px;
    height: 41px;
    line-height: 41px;
    list-style: none;
    float: left;
    margin: 10px;
    text-align: center;
    background: white;
    border-radius: 50%;
    font-size: 25px;
    position: relative;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    color: #333;
    z-index: 1;
    cursor: pointer;
}

#social-icons li:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #044F67;
    /*background: black;*/
    border-radius: 50%;
    transform: scale(0);
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    z-index: -1;
}

#social-icons li:hover:before {
    transform: scale(.9);
}

#social-icons .fa:hover {
    color: white;
    /*transition: .4s ease-in-out;*/
}

#social-icons li a .fa{
    text-decoration: none;
    /*color: #044F67;*/
    /*color: #033e56;*/
    color: #333;
    /*transition: .4s ease-in-out;*/
}

/* RETURN TO TOP BUTTON */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 100;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 101;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.7);
    z-index: 102;
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
    z-index: 103;
}
